* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.container-fluid {
    padding: 0;
    margin: 0;
    width: 100vw;
}

.main-container {
    display: flex;
    height: 60vh;
    width: 100vw;
    color: #ddd;
}

.buttons-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #3d3d3d;
}

.buttons-div h1 {
    margin-bottom: 20px;
}

.buttons-div button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.image-div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
}

.image-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ie {
    margin-bottom: 45px;
}

.hola {
    padding: 100px;
}

.tit1 {
    font-family: 'Paytone One', serif;
}

.bel {
    color: crimson;
}

.bank {
    color: rgb(32, 110, 178);
}


.card-icons .icon {
    font-size: 3rem;
    color: rgb(32, 110, 178);
}

.card-text {
    color: gray;
}

.card-icons {
    transition: all 0.5s;
}

.card-icons:hover {
    background-color: crimson;
    color: #fff;
}

.card-icons:hover .icon,
.card-icons:hover .card-text {
    color: #fff;
}

.navbar {
    width: 100vw;
    padding: 0;
}

.arrow-hover {
    font-size: 3rem;
    transition: color 0.3s ease;
}

.arrow-hover:hover {
    color: red;
}

.card:hover{
    transition: all 0.5s;
}